/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6d4d4;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-top: 10px solid #db3490; 
    border-radius: 50%;
    animation: spin 2s linear infinite;

}
.second {
    width: 70px;
    height: 70px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-top: 10px solid #3934db; 
    border-radius: 50%;
    /* animation: spin 2s linear infinite; */
    animation-direction: reverse;
    


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
} */
