body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid green;
}


.box {
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
    top: 33.33%; /* 33.33% from the top of the container */
    left: 62.5%; /* 62.5% from the left of the container */
    transform: translate(-50%, -50%); /* Adjusts to center within the given percentages */
}
